<div class="fixed left-0 top-0 -z-10 h-full w-full">
  <div class="absolute top-0 -z-10 h-full w-full bg-neutral-900">
    <div
      class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-900 bg-[radial-gradient(#292929_1px,#171717_1px)] bg-[size:40px_40px]"
    >
    </div>
    <div
      class="absolute bottom-auto left-auto right-0 top-0 h-[300px] w-[300px] -translate-x-[100%] translate-y-[100%] rounded-full bg-my-tertiary/20 opacity-50 blur-[50px]"
    >
    </div>
    <div
      class="absolute bottom-auto left-auto right-0 top-0 h-[300px] w-[300px] -translate-x-[80%] translate-y-[40%] rounded-full bg-my-primary/10 opacity-50 blur-[60px]"
    >
    </div>
    <div
      class="absolute bottom-auto left-auto right-0 top-0 h-[300px] w-[300px] -translate-x-[20%] translate-y-[40%] rounded-full bg-my-secondary/30 opacity-50 blur-[100px]"
    >
    </div>
  </div>
</div>
