---
import type { HTMLAttributes } from 'astro/types'

type ButtonType = HTMLAttributes<'button'>

type Props = {
  id?: ButtonType['id']
  type?: ButtonType['type']
  className?: ButtonType['class']
}

const { id, type, className } = Astro.props
---

<button
  id={id}
  type={type}
  class={`rounded border border-gray-500 dark:border-gray-200 px-4 py-2 text-xs md:text-sm font-bold uppercase text-gray-800 dark:text-gray-100 outline-none transition-all duration-150 ease-linear hover:bg-gray-500 dark:hover:bg-gray-200 hover:text-white dark:hover:text-black focus:outline-none active:bg-gray-600 dark:active:bg-gray-400 ${className}`}
>
  <slot />
</button>
