---
import SocialMediaFooter from './SocialMediaFooter.astro'
import { container } from '@/components/Container.astro'
import { info } from '../data/info'

const className = container({
  class: 'mx-auto flex flex-col-reverse items-center justify-between gap-4 pb-4 pt-12 md:flex-row',
})
---

<footer class={className}>
  <a
    class="text-caption hover:underline md:text-body2"
    target="_blank"
    rel="noopener noreferrer"
    href="https://github.com/jesusvallez/jesusvallez.github.io"
    title="Repositorio de este sitio web"
  >
    Creado con mucho{' '}
    <span data-testid="emoji" role="img" aria-label="corazón blanco">♥</span>{' '}
    por Jesús Vállez Gomis
  </a>

  <SocialMediaFooter items={info.socialMedia} />
</footer>
