---
import SocialMedia from './SocialMedia.astro'
import { info } from '../data/info'
---

<footer class="mx-auto mb-4 mt-12 flex w-full max-w-6xl flex-row justify-between px-4">
  <a
    class="text-caption hover:underline md:text-body2"
    target="_blank"
    rel="noopener noreferrer"
    href="https://github.com/jesusvallez/jesusvallez.github.io"
    title="Repositorio de este sitio web"
  >
    Creado con mucho{' '}
    <span data-testid="emoji" role="img" aria-label="corazón blanco">♥</span>{' '}
    por Jesús Vállez Gomis
  </a>

  <SocialMedia items={info.socialMedia} />
</footer>
