---
import { container } from '@/components/Container.astro'

const info = new URL(Astro.request.url)
const pathname = `/${info.pathname.split('/').filter(Boolean).join('/')}`

const className = container({ class: 'mx-auto flex flex-row items-center justify-between py-4' })
---

<header class={className}>
  <div class="flex w-full items-center justify-between">
    <a class="block text-white" href="/">
      <span class="sr-only">Inicio</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 300 300">
        <path
          fill="currentColor"
          d="m40.2 201.1 37.8-.3c.9 20.2.8 24.8 5.5 33.6 4.7 8.9 10.4 15.8 29 15.8 20.8 0 25.8-13.5 28.2-20.4 2.4-6.9 3.6-18 3.6-33V14.5h59.2v180.2c0 22-2.6 39.2-8 51.3-5.3 12.2-23.7 38.3-68.4 39.2-36.9.8-55.2-6.6-68-20-14.3-14.8-19.4-37.8-19-64.2Zm183.3 67.1v-38h36.3v38h-36.3Z"
        ></path>
      </svg>
    </a>
  </div>

  <nav aria-label="Global">
    <ul class="flex items-center gap-6 text-sm">
      <li>
        <a
          href="/"
          title="Ir a la página de inicio"
          class:list={['text-white transition hover:text-gray-500/75', { underline: pathname === '/' }]}
        >
          Inicio
        </a>
      </li>

      <li>
        <a
          href="/blog"
          title="Ir al blog"
          class:list={['text-white transition hover:text-gray-500/75', { underline: pathname.startsWith('/blog') }]}
        >
          Blog
        </a>
      </li>
    </ul>
  </nav>
</header>
