---
import Github from '@/components/icons/Github.astro'
import Linkedin from '@/components/icons/Linkedin.astro'

import { type SocialMedia } from '../@types'
import SocialPill from './SocialPill.astro'
import CreatePDF from './pdf/CreatePDF'

interface Props {
  items: SocialMedia
}

const { items } = Astro.props
---

<div class="mt-4 flex flex-row gap-2 md:gap-4">
  {
    Object.entries(items).map(([key, value]) => {
      switch (key) {
        case 'github':
          return (
            <SocialPill title="GitHub" href={value}>
              <Github class="clas h-6 w-6" /> GitHub
            </SocialPill>
          )

        case 'linkedin':
          return (
            <SocialPill title="LinkedIn" href={value}>
              <Linkedin class="h-6 w-6" /> LinkdIn
            </SocialPill>
          )

        default:
          return ''
      }
    })
  }

  <CreatePDF client:load />
</div>
