<a class="relative" {...Astro.props} target="_blank" rel="noopener noreferrer">
  <div class="absolute inset-[4px] rounded-full"></div>
  <div
    class="relative flex cursor-pointer items-center justify-center gap-x-2 rounded-full border border-white/10 bg-neutral-800 px-3 py-1 text-xs transition hover:scale-105 hover:bg-neutral-700 md:px-4 md:py-2 md:text-base"
  >
    <slot />
  </div>
</a>
