---
import MetaHead from '@/components/MetaHead.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Background from '@/components/Background.astro'
import SpeedInsights from '@vercel/speed-insights/astro'

import { info as staticInfo } from '@info'

import '@fontsource-variable/onest'
import '@/styles/globals.css'

const staticTitle = staticInfo.name
const staticDescription = `Actualmente estoy trabajando como ${staticInfo.jobDescription}. +10 años de experiencia. Aquí puedes encontrar toda mi trayectoria profesional y mi experiencia.`
const baseUrl = 'https://jesusvallez.com'
const staticOGImagePath = '/ogimage.png'

type Props = {
  title?: string | null
  description?: string | null
  ogImagePath?: string | null
}

const { title, description, ogImagePath } = Astro.props

const titleWithTemplate = [title, staticTitle].filter(Boolean).join(' | ')
---

<!doctype html>
<html lang="es">
  <head>
    <MetaHead
      title={titleWithTemplate}
      description={description ?? staticDescription}
      ogImagePath={ogImagePath ?? staticOGImagePath}
      baseUrl={baseUrl}
    />
  </head>
  <body
    class="h-my-screen grid grid-cols-1 grid-rows-[auto_1fr_auto] items-start justify-items-center bg-neutral-900 text-white"
  >
    <Background />
    <Header />
    <slot />
    <Footer />
    <SpeedInsights />
  </body>
</html>
